gradio_imageslider~=0.0.20
gradio==4.14.0
torch~=2.3.0+cu121
torchvision~=0.18.0
opencv-python~=4.9.0.80
huggingface_hub
numpy~=1.26.4
pillow~=10.3.0
tqdm~=4.66.4
xformers~=0.0.26.post1
setuptools~=68.2.0
matplotlib~=3.9.0
requests~=2.31.0
